body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --light-grey: #e0e0e0;
    --dark-grey: #606060;
    --red-bg: #da1e5d;
}

#nav {
    margin-top: 170px;
}

#nav #button1 {
   
    position: absolute;
    width: 157.27px;
    height: 64px;
    left: 64px;
    top: 81px;
    
    background: #606060;
    border-color: #606060;
    border-radius: 14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

    color: #E0E0E0;
    margin-left: 150px;
}

#nav #button2 {
   
    position: absolute;
    width: 157.27px;
    height: 64px;
    left: 64px;
    top: 81px;
    
    background: #E0E0E0;
    border-color: #E0E0E0;
    border-radius: 14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

    color: #606060;
    margin-left: 320px;
}

#nav #button3 {
   
    position: absolute;
    width: 157.27px;
    height: 64px;
    left: 64px;
    top: 81px;
    
    background: #E0E0E0;
    border-color: #E0E0E0;
    border-radius: 14px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

    color: #606060;
    margin-left: 490px;
}
#container #card1 {
   
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    position: center;
    width: 1200px;
    height: 120px;
    left: 63px;
    top: 977px;
    
    margin-top: 150px;
    margin-left: 200px;

    background: #DA1E5D;
    border-radius: 14px;
    
}

#container #card2 {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    position: center;
    width: 1200px;
    height: 120px;
    left: 64px;
    top: 173px;
    margin-top: 30px;
    margin-left: 200px;
    
    background: #DA1E5D;
    border-radius: 14px;
}

#container #card3 {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    position: center;
    width: 1200px;
    height: 120px;
    left: 64px;
    top: 173px;
    margin-top: 35px;
    margin-left: 200px;
    
    background: #DA1E5D;
    border-radius: 14px;
}

#container #card4 {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    position: center;
    width: 1200px;
    height: 120px;
    left: 64px;
    top: 173px;
    margin-top: 40px;
    margin-left: 200px;
    
    background: #DA1E5D;
    border-radius: 14px;
}

#container #card5 {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    position: center;
    width: 1200px;
    height: 120px;
    left: 64px;
    top: 173px;
    margin-top: 40px;
    margin-left: 200px;
    
    
    background: #DA1E5D;
    border-radius: 14px;
}